{}*

body{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

p.cat-title {
    font-weight: 500;
    font-size: 19px;
}

p.newcatname {
    font-weight: 500;
    font-size: 13px;
    color: #054fda;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
